
h5py==2.10.0
imageio==2.6.1
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
Markdown==3.1.1
matplotlib==3.1.1
numpy==1.15.4
opencv-python==4.1.1.26
pandas==0.25.3
Pillow==5.3.0
scikit-image==0.16.2
scikit-learn==0.21.3
scipy==1.2.1
six==1.13.0
sklearn==0.0
tensorboard==1.14.0
tensorboard-plugin-wit==1.6.0.post3
tensorflow==1.14.0
tensorflow-estimator==1.14.0
